USE [master]
GO
/****** Object:  Database [jobTrackDb]    Script Date: 16.01.2026 02:53:02 ******/
CREATE DATABASE [jobTrackDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jobTrackDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\jobTrackDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jobTrackDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\jobTrackDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jobTrackDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jobTrackDb]
GO
/****** Object:  Table [dbo].[Basvurular]    Script Date: 16.01.2026 02:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Basvurular](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NULL,
	[IlanId] [int] NULL,
	[BasvuruTarihi] [datetime] NULL,
	[Durum] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BireyselKullanicilar]    Script Date: 16.01.2026 02:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BireyselKullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[Telefon] [nvarchar](20) NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Okul] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Egitimler]    Script Date: 16.01.2026 02:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Egitimler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NULL,
	[OkulAdi] [nvarchar](150) NULL,
	[Bolum] [nvarchar](100) NULL,
	[Derece] [nvarchar](50) NULL,
	[BaslangicTarihi] [date] NULL,
	[MezuniyetTarihi] [date] NULL,
	[DevamEdiyor] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilanlar]    Script Date: 16.01.2026 02:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilanlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Baslik] [nvarchar](150) NOT NULL,
	[Sirket] [nvarchar](100) NULL,
	[Konum] [nvarchar](100) NULL,
	[Nitelikler] [nvarchar](max) NULL,
	[Maas] [decimal](18, 2) NULL,
	[CalismaSekli] [nvarchar](50) NULL,
	[Deneyim] [nvarchar](50) NULL,
	[Sektor] [nvarchar](100) NULL,
	[YayinlanmaTarihi] [datetime] NULL,
	[Snippet] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IsDeneyimleri]    Script Date: 16.01.2026 02:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IsDeneyimleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NULL,
	[SirketAdi] [nvarchar](100) NULL,
	[Pozisyon] [nvarchar](100) NULL,
	[IsTanimi] [nvarchar](max) NULL,
	[BaslamaTarihi] [date] NULL,
	[AyrilmaTarihi] [date] NULL,
	[DevamEdiyor] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KurumsalKullanicilar]    Script Date: 16.01.2026 02:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KurumsalKullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SirketAdi] [nvarchar](100) NOT NULL,
	[YetkiliAd] [nvarchar](50) NULL,
	[YetkiliSoyad] [nvarchar](50) NULL,
	[SirketEmail] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](100) NOT NULL,
	[SirketTelefon] [nvarchar](20) NULL,
	[Sektor] [nvarchar](100) NULL,
	[WebSitesi] [nvarchar](150) NULL,
	[Adres] [nvarchar](max) NULL,
	[KurulusTarihi] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SirketEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SirketEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sertifikalar]    Script Date: 16.01.2026 02:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sertifikalar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NULL,
	[SertifikaAdi] [nvarchar](150) NULL,
	[AlindigiKurum] [nvarchar](150) NULL,
	[AlindigiTarih] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yetenekler]    Script Date: 16.01.2026 02:53:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yetenekler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NULL,
	[YetenekAdi] [nvarchar](100) NULL,
	[Seviye] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Basvurular] ADD  DEFAULT (getdate()) FOR [BasvuruTarihi]
GO
ALTER TABLE [dbo].[Basvurular] ADD  DEFAULT ('Beklemede') FOR [Durum]
GO
ALTER TABLE [dbo].[Ilanlar] ADD  DEFAULT (getdate()) FOR [YayinlanmaTarihi]
GO
ALTER TABLE [dbo].[Basvurular]  WITH CHECK ADD FOREIGN KEY([IlanId])
REFERENCES [dbo].[Ilanlar] ([Id])
GO
ALTER TABLE [dbo].[Basvurular]  WITH CHECK ADD FOREIGN KEY([IlanId])
REFERENCES [dbo].[Ilanlar] ([Id])
GO
ALTER TABLE [dbo].[Basvurular]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Basvurular]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Egitimler]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Egitimler]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[IsDeneyimleri]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[IsDeneyimleri]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Sertifikalar]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Sertifikalar]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Yetenekler]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Yetenekler]  WITH CHECK ADD FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[BireyselKullanicilar] ([Id])
GO
USE [master]
GO
